<!doctype html>
<head>
  <script src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="AddressBook">
  <p>Hello world</p>
  <div ng-controller="ContactController">
    <div ng-repeat='contact in contacts'>
      {{contact.name}}
      <avatar name=contact.name></avatar>
    </div>
  </div>
  <div ng-controller="AddContact">
     <form ng-submit="addContact()">
      <h3>Add A New Contact</h3>  
      <label>
          Name (Req'd)
          <input required type="text" ng-model="contact.name">
      </label>
      <label>
          Age
          <input type="number" ng-model="contact.age">
      </label>
      <label for="occupation">
          Occupation
          <input type="text" ng-model="contact.occupation">
      </label>
      <label for="">
          Email (Req'd)
          <input type="email" required ng-model="contact.email">
      </label>
      <label for="submit">
          Add New Contact
          <input type=submit id="submitNewContact"> 
      </label>
      <div class=warning ng-if=errorMessage>Please check the information and try again.</div>
    </form>
  </div>
  <script src="main.js"></script>
</body>